<IfModule mod_fcgid.c>
AddHandler fcgid-script .fcgi
</IfModule>

Options +ExecCGI

RewriteEngine On
RewriteRule ^(.*)$ https://warrant.atlantia.sca.org/$1 [R=301,L]

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
